.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo1 {
  width: 70px;
  height: 70px;
  margin: 20px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: black;
}
.logo-container {
  position: relative;
  margin-left: 65px;
}

.logo-image {
  position: relative;
}

.logo-image::after {
  content: "";
  position: absolute;
  right: 0;
  top: 35%;
  height: 30%;
  border-right: 1px solid black;
}
#LogoM {
  margin-left: 25px;
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
  transition: letter-spacing 0.5s ease-in-out;
  cursor: pointer;
}
#LogoM:hover {
  color: #252525;
  letter-spacing: 10px;
}
.hire {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  letter-spacing: 5px;
  color: black;
  font-weight: 600;
  font-size: 17px;
  margin-right: 110px;
  transition: letter-spacing 0.5s ease-in-out;
}
.hire:hover {
  color: #252525;
  letter-spacing: 7px;
}
.navbar {
  display: flex;
  align-items: center;
}
.logo2 {
  width: 50px;
  height: 50px;
  margin: 20px;
}
.header > div {
  display: flex;
  align-items: center;
}

main {
  margin: 35px 30px;
  background-color: #f4f9fc;
  height: 1000vh;
}
.header {
  border-top: 35px solid white;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.photo {
}
.welcome {
  font-size: 130px;
  margin-left: 40px;
  font-family: "Montserrat", sans-serif;
  width: 1000px;
  text-align: left;
}
#welcome1 {
  display: block;
}
#welcome2 {
  font-family: "Lato", sans-serif;
  font-size: 130px;
}

.opis {
  font-size: 23px;
  font-family: "Lato", sans-serif;
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  text-align: left;
}
#welcome2 {
  overflow: hidden;
  border-right: 0.08em solid rgb(0, 0, 0);
  display: inline-block;
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-bottom: -30px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}
.opis strong {
  color: rgb(22, 4, 4);
}
@media (max-width: 1694px) {
  .photo {
    margin-left: 0px;
  }
  .welcome {
    font-size: 100px;
    margin-left: 0px;
  }
}

@media (max-width: 1050px) {
  .centered {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .photo {
    margin-left: 0px;
  }
  .welcome {
    font-size: 60px;
    margin-left: 0px;
    text-align: center;
    margin-top: -30px;
  }
  #welcome2 {
    font-size: 60px;
  }
  .logo-container {
    margin-left: 35px;
  }
  .navbar .hire {
    margin-right: 80px;
  }
  .header {
    padding: 0px 10px;
  }
  .opis {
    font-size: 17px;
    width: 60%;
    text-align: center;
    margin: 30px auto;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 19%;
    }
  }
  #welcome2 {
    animation: typing 0.6s steps(40, end), blink-caret 0.75s step-end infinite;
    margin-bottom: -15px;
  }
}
@media (max-width: 512px) {
  main {
    margin: 15px 10px;
  }
  .header {
    border-top: 15px solid white;
  }
  .navbar .logo2 {
    display: none;
  }
  .navbar .hire {
    margin-right: 50px;
    font-size: 14px;
  }
  .logo-container {
    margin-left: 0px;
  }
  .logo {
    font-size: 14px;
  }
  .header {
    padding: 0px 10px;
  }
  .opis {
    width: 35%;
  }
  .welcome {
    font-size: 40px;
    margin-left: 0px;
    text-align: center;
    margin-top: -10px;
  }
  #welcome2 {
    font-size: 50px;
  }
}
@media (max-width: 716px) {
  .opis {
    max-width: 42%;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 14%;
    }
  }
}
@media (max-width: 418px) {
  .opis {
    max-width: 30%;
  }
  .welcome {
    font-size: 30px;
  }
  #welcome2 {
    font-size: 40px;
    margin-bottom: -10px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 12%;
    }
  }
  .photo {
    width: 400px;
  }
  .logo1 {
    width: 50px;
    height: 50px;
  }
}
